.search-container ul {
    list-style: none;
}

.search-form {
    margin-bottom: 2rem;
}

.search-form input{
    width:74%;
    margin-right: 1%;
    padding: 0.5rem;
    outline: none;
}

.search-form input:focus-visible{
    outline: 1px solid #ffffff;
}

.search-form button{
    width:25%;
    padding: 0.5rem;
    background-color: #ffffffa8;
}

.animated-weather{
    margin-top:2rem;
}