.weather-description {
    list-style: none;
    font-size: 13px;
}

.search-form {
    border-radius: 2rem;
}

.search-form input{
    padding: 0.5rem;
    outline: none;
}

.search-form input::placeholder{
    color: #ffffff;
}

.search-form input:focus-visible{
    outline: transparent;
}

.search-form button{
    padding: 0.5rem;
}

.animated-weather{
    margin-top:2rem;
}

.weather-icon{
    margin-bottom: -1rem;
}

.weather-temperature{
    font-size: 4rem;
    /* font-weight: 300; */
}

.weather-name{
    top: 0;
    left: 0;
    right:0;
    text-align:center;
    font-size: 10rem;
    opacity: 0.2;
}