.search-container ul {
    list-style: none;
}

.search-form {
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.search-form input{
    padding: 0.5rem;
    outline: none;
}

.search-form input::placeholder{
    color: #ffffff;
}

.search-form input:focus-visible{
    outline: transparent;
}

.search-form button{
    padding: 0.5rem;
}

.animated-weather{
    margin-top:2rem;
}